
<div class="row">
    <div class="col">
        <form action = "/" method="POST" class="form-group m-0">
            <input type="text" placeholder="What needs to be done?" id="task" name="task" class="form-control cls"/>
            <input type="submit" style="display:none"/>
        </form>
    </div>
</div>





<table  class="table m-0 border">
    <tbody>
        <% for (var tasks of docs){%>
            <tr class="cls">
                <td>
                    <!-- <div class="checkbox  round"> -->
                    
                    <label for="<%=tasks._id%>1"></label>
                    <span id="<%=tasks._id%>1" value="<%= tasks.task %>"  class="<%=tasks._id%>"><%= tasks.task %></span>
                <!-- </div> -->
                </td>
                <td><button type="button" class="close text-danger" aria-label="Close" id="<%=tasks._id%>"  >
                       &times;
                </button></td>
            </tr>
        <%}%>
    </tbody>
</table>

<%if(docs.length!==0){%>
    <nav class="navbar navbar-expand-lg navbar-light">
            <%if(docs.length === 1){%>
            <a class="navbar-brand text-muted" href="#"><%=docs.length%> item left</a>
            <%}
            else {%>
                <a class="navbar-brand text-muted" href="#"><%=docs.length%> items left</a>
            <%}%>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="#">All <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="window.location.href = '/active'">Active</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link " href="#">Completed</a>
                </li>
              </ul>
            </div>
    </nav>
<%}%>

    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
        $(document).ready(() =>{
            
            $(".close").click((event)=>{
              var id = event.currentTarget.id;
                $.ajax({
                    url:"/delete/" + id,
                    type:"DELETE"

                })
                .done(()=>window.location.reload(true))
                .fail(() => console.log("failed"));
             });

             $("span").click((event)=>{
                var id = event.currentTarget.className;
                //console.log('.'+id);
                $('.'+id).replaceWith("<input type='text' name='text'  id='text' value='' />"
                                      );
                
                $('#text').keypress((event)=>{
                    //console.log(id);
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                   if(keycode == '13'){
                    var value= document.getElementById('text').value;

                    $.ajax({
                        url:'/update/'+id,
                        type:'PUT',
                        data:{value}
                    }).done(()=>console.log("success"))
                      .fail(()=> console.log("failed"));
                }
                });
            });
        })
        

        let check = (name) =>{
        
            var checkbox = document.getElementById(name);
            var text = document.getElementById(name + "1");

            if (checkbox.checked == true){
                text.style.textDecoration = "line-through";
                text.style.opacity = "0.5";
            } else {
                text.style.textDecoration = "none";
                text.style.opacity = "1";
            }
        }
    </script>

